[data_path]
data_path: data/pa1-data

[queries_path]
queries_path: data/queries/dev_queries

[queries_output_path]
queries_output_path: data/queries/dev_output

[stop_words_path]
stop_words_path: data/stop_words.txt

[collection_path]
collection_path: data/collection.pkl

[simple_index_path]
simple_index_path: data/index/simple_index.pkl

[frequency_index_path]
frequency_index_path: data/index/frequency_index.pkl

[df_path]
df_path: data/index/df_file.pkl